@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET MVC Web App by</h1>
    <h4 class="display-4"> - Souvik Mitra<span><i>(The Code Mitter)</i></span></h4>
    <p>Learn more about <a href="https://github.com/SMitra1993/.NETMVCPursuit/tree/master">ASP.NET MVC Application notes</a>.</p>
</div>
